@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}
 /*Defining font */

body {
  background-color: #222A30;
  font-family: "Clear Sans";
  text-align: center;
  color: #FFF;
}

h1 {
  margin-bottom: 20px;
}

.board {
  margin: 0 auto;
  width: 700px;
  height: 700px;
  color: #222A30;
  border:40px solid rgba(138, 138, 138, .2)
}

.cell {
	background-color: #B8CDF0;
  font: #FF005D;
  font-size: 2.8em;
  width: 150px;
  float: left;
  height: 150px;
  margin: 2px;
  opacity: 0.8;
}

.cell div {
  margin-top: 42px;
}

/* Changing formats for the different numbers*/

.val-2{
  background-color: #AADBFD;
  opacity: 1;
}

.val-4{
  background-color: #88CEFF;
  opacity: 1;
}

.val-8{
  background-color: #6FC1FA;
  opacity: 1;
}

.val-16{
  background-color: #51B4F9;
  opacity: 1;
}

.val-32{
  background-color: #39A9F6;
  opacity: 1;
}

.val-64{
  background-color: #1198F4;
  opacity: 1;
}

.val-128{
  background-color: #0384DC;
  opacity: 1;
}

.val-256{
  background-color: #F0B8D4;
  opacity: 1;
}

.val-512{
  background-color: #FF90C8;
  opacity: 1;
}

.val-1024{
  background-color: #F656A7;
  opacity: 1;
}

.val-2048{
  background-color: #F80B83;
  opacity: 1;
}


